<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu_system.system.mapper.SysPermissionMapper">
    <!-- 数据库中的所有字段
       id, code, user_account, user_password, user_true_name, telephone, role_code, class_code, create_time, update_time, creator, updater, is_delete, is_effect, orderby, descr
      -->
      
    <!-- model中对应的属性
    
       private String userAccount;
	   private String userPassword;
	   private String userTrueName;
	   private String userTelephone;
	   private String roleCode;
	   private String classCode;
	   private SysRoleModel sysRoleModel; 
	   
    
     -->  
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="stu_system.system.model.SysUserModel">
		<result column="id" property="id" />
		<result column="code" property="code" />
		<result column="user_account" property="userAccount" />
		<result column="user_password" property="userPassword" />
		<result column="user_true_name" property="userTrueName" />
		<result column="telephone" property="userTelephone" />
		<result column="role_code" property="roleCode" />
		<result column="class_code" property="classCode" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="creator" property="creator" />
		<result column="updater" property="updater" />
		<result column="is_delete" property="isDelete" />
		<result column="is_effect" property="isEffect" />		
		<result column="descr" property="descr"/> 
	</resultMap>
	
	<sql id="Base_Column_List">
		id, code, user_account, user_password, user_true_name, telephone, role_code, class_code, create_time, update_time, creator, updater, is_delete, is_effect, orderby, descr
	</sql>

	<!-- 查询条件，数据库中表的每一个字段都要写出来，数据库表中有多少个字段，在这里就写多少个，一个都不能少，并与model中的属性一一对应 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and id = #{id}
			</if>		 	
			<if test="userAccount != null and userAccount != ''">
				and user_account like CONCAT('%', #{userAccount}, '%')
			</if>
			
			<if test="userPassword != null and userPassword != ''">
			   and  user_password = #{userPassword}
			   
			</if>			
			
			<if test=" userTrueName!= null and userTrueName != ''">			
			   and user_true_name like CONCAT('%', #{userTrueName}, '%')
			</if>
			
			
			<if test="userTelephone != null and userTelephone != ''">
				and telephone  = #{userTelephone}
			</if>
			
			<if test="roleCode != null and roleCode != ''">
				and role_code  = #{roleCode}
			</if>
			
			<if test=" classCode != null and classCode != ''">
				and class_code = #{classCode}
			</if>	
			
			<if test="createTime != null and createTime != ''">
				and create_time  = #{createTime}
			</if>
			
			<if test="updateTime != null and updateTime != ''">
				and update_time = #{updateTime}
			</if>
			
			<if test="creator != null and creator != ''">
				and creator = #{creator}
			</if>
			
			<if test="updater != null and updater != ''">
				and updater = #{updater}
			</if>	
			<if test="isDelete != null">
				and is_delete = #{isDelete}
			</if>			
			<if test="isEffect != null">
				and is_effect = #{isEffect}
			</if>			  
			<if test=" descr!= null and descr != ''">			
			   and descr like CONCAT('%', #{descr}, '%')
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="insert"  parameterType="Object">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into user
		(code, user_account, user_password, user_true_name, telephone, role_code, class_code, 
		  create_time, update_time, creator, updater, is_delete, is_effect, orderby, descr)
		values
		(#{code}, #{userAccount}, #{userPassword},#{userTrueName}, #{userTelephone}, #{roleCode},#{classCode},
		#{createTime}, #{updateTime}, #{creator}, #{updater}, #{isDelete}, #{isEffect}, #{orderBy}, #{descr})
		<!--  now(), now(),一般不用这种格式，一般是在java中将时间取出来  -->
	</insert>
	    
	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from sys_user where id = #{id}
	</delete>
	
	<delete id="deleteModel" parameterType="Object">
		delete from sys_user
		<include refid="Example_Where_Clause" />
	</delete>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update user set		
		user_account = #{userAccount} , user_password = #{userPassword}, user_true_name = #{userTrueName}, telephone = #{userTelephone}, 
		role_code = #{roleCode}, class_code = #{classCode}, 
		update_time = #{updateTime}, updater = #{updater}, descr = #{descr}
		where id = #{id}
	</update>

	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateActive" parameterType="Object">
		update user set
		<trim suffixOverrides=",">		
		    <if test="userAccount != null and userAccount != ''">
				user_account =#{userAccount},
			</if>			
			<if test="userPassword != null and userPassword != ''">
			    user_password = #{userPassword},			   
			</if>			
			<if test=" userTrueName!= null and userTrueName != ''">			
			   user_true_name = #{userTrueName},
			</if>						
			<if test="userTelephone != null and userTelephone != ''">
				 telephone  = #{userTelephone},
			</if>
			
			<if test="roleCode != null and roleCode != ''">
				 role_code  = #{roleCode},
			</if>			
			<if test=" classCode != null and classCode != ''">
				 class_code = #{classCode},
			</if>				
			<if test="updateTime != null and updateTime != ''">
				 update_time = #{updateTime},
			</if>
			
			<if test="updater != null and updater != ''">
				 updater = #{updater},
			</if>	
			<if test="isDelete != null">
				 is_delete = #{isDelete},
			</if>			
			<if test="isEffect != null">
				 is_effect = #{isEffect},
			</if>			  
			<if test=" descr!= null and descr != ''">			
			    descr =#{descr},
			</if>							
		</trim>
		where id = #{id}
	</update>
	<!-- 根据id查询 系统用户 -->
	<select id="selectId" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from sys_user where id = #{id}
	</select>

	<!-- 系统用户 列表总数 -->
	<select id="selectCount" resultType="java.lang.Integer" parameterType="Object">
		select count(1) from permission
	    <!-- <include refid="Example_Where_Clause" />  -->
	</select>

	<!-- 查询系统用户列表 -->
	<select id="selectModel" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from user_information
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	
	<!-- 查询系统用户列表 -->
	<select id="selectAll" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from user
		<include refid="Example_Where_Clause" /> 
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
	</select>
	<!-- 用于user表和role表的关联查询 -->
	<resultMap id="UserAndRoleResultMap" type="stu_system.system.model.SysUserModel">
		<result column="id" property="id" />
		<result column="codeInUser" property="code" />
		<result column="user_account" property="userAccount" />
		<result column="user_password" property="userPassword" />
		<result column="user_true_name" property="userTrueName" />
		<result column="telephone" property="userTelephone" />
		<result column="role_code" property="roleCode" />
		<result column="class_code" property="classCode" />
		<association property="sysRoleModel" javaType="stu_system.system.model.SysRoleModel">
			<!-- id:声明主键，表示user_id是关联查询对象的唯一标识-->
			<!-- <id property="id" column="id" /> --> 
			<result property="code" column="codeInRole" /> 
			<result property="roleName" column="role_name" />
	   </association>
	</resultMap>	
	<select id="selectUserAndRole" resultMap="UserAndRoleResultMap" parameterType="Object">
		select u.id, u.code codeInUser, u.user_account, u.user_password, u.user_true_name, u.telephone,
	    u.role_code, u.class_code,  r.code codeInRole,r.role_name
		from user u
		     left join role r on u.role_code = r.code		     
	    <include refid="Example_Where_Clause" /> 
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
	</select>
	
	<!-- private String permissionName;
	private String url;
	private String parentCode; -->
	
	<sql id="Example_Where_Clause2">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and p.id = #{id}
			</if>	
			<if test="code != null and code != ''">
				and  p.code = #{code}
			</if>	 	
			<if test="permissionName != null and permissionName != ''">
				and p.permission_name like CONCAT('%', #{permissionName}, '%')
			</if>
			
			<if test="url != null and url != ''">
			   and  p.url = #{url}			   
			</if>			
							
			<if test="parentCode != null and parentCode != ''">
				and p.parent_code  = #{parentCode}
			</if>
			
			<if test="type != null ">
				and p.type  = #{type}
			</if>
				
			<if test="createTime != null and createTime != ''">
				and p.create_time  = #{createTime}
			</if>
			
			<if test="updateTime != null and updateTime != ''">
				and p.update_time = #{updateTime}
			</if>
			
			<if test="creator != null and creator != ''">
				and p.creator = #{creator}
			</if>
			
			<if test="updater != null and updater != ''">
				and p.updater = #{updater}
			</if>	
			<if test="isDelete != null">
				and u.is_delete = #{isDelete}
			</if>			
			<if test="isEffect != null">
				and p.is_effect = #{isEffect}
			</if>			  
			<if test=" descr!= null and descr != ''">			
			   and p.descr like CONCAT('%', #{descr}, '%')
			</if>
		</trim>
	</sql>
	
	
	<!-- private String permissionName;
	private String url;
	private String parentCode;
	
	private SysRolePermissionRelationModel sysRolePermissionRelationModel = new SysRolePermissionRelationModel();
	 -->
	
	
	<resultMap id="ResultMapForPermissionAndRolePermissionRe" type="stu_system.system.model.SysPermissionModel">
		<result column="idInp" property="id" />
		<result column="codeInp" property="code" />
		<result column="permission_name" property="permissionName" />
		<result column="url" property="url" />
		<result column="parent_code" property="parentCode" />		
		<association property="sysRolePermissionRelationModel" javaType="stu_system.system.model.SysRolePermissionRelationModel">
			<!-- id:声明主键，表示user_id是关联查询对象的唯一标识-->
			<id property="id" column="idInrpr" /> 
			<result property="code" column="codeInrpr" /> 
			<result property="roleCode" column="role_code" />
	   </association>
	</resultMap>	
	
	<select id="selectPermissionAndRolePermissionRel" resultMap="ResultMapForPermissionAndRolePermissionRe" parameterType="Object">
		 select p.id idInp, p.code codeInp, p.permission_name,  p.url,  p.parent_code,  p.type,  
           rpr.id idInrpr,  rpr.code codeInrpr , rpr.role_code
         from stu_system.permission p 
			left  join (select * from stu_system.role_permission_relation rpr where role_code = #{sysRolePermissionRelationModel.roleCode} and rpr.is_delete = 0  and rpr.is_effect = 1 ) rpr on p.code = rpr.menu_code
	    <include refid="Example_Where_Clause2" /> 				
	</select>
     
     
     
     
</mapper>   